@import url(common.css);
@import url(../fonts/SUIT-woff2/SUIT.css);

body {
  font-family: 'SUIT-Regular';
  position: relative;
}
@media screen and (max-width:767px) {
  .visual {

  }
  .category {}
  /* 
  .weather  {
    padding: 50px;
    background-color: rgba(19, 38, 68, 0.9);
    backdrop-filter: blur(1px);
    color: #D9ECF2;
    font-family: 'SUIT-Regular';
  }
  .city {
    font-size: 46px;
  }
  .CurrIcon {
    font-size: 64px;
    margin: 10px 0 5px;
  }
  .weather-1 {
    display: flex;
  }
  .weather-2 {
    flex:2;
  }
  .weather-3 {
    flex:1;
  }
  .CurrTemp {
    font-size: 64px;
    text-align: center;
  }
  .tempInfo {
    text-align: center;
  }
  .weather-4 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
 */
}