@import url(common.css);
@import url(vote.css);
@import url(../fonts/SUIT-woff2/SUIT.css);

/* color palette */
:root {
  --main-navy:  #132644;/* rgba(19, 38, 68); */
  --main-blue:  #1645D3;/* rgba(22, 69, 211); */
  --main-red: #FF414D; /* rgba(255, 56, 77); */ 
  --main-sky: #D9ECF2; /* rgba(271, 236, 241); */
  --main-lightsky: #D9ECF2; /* rgba(271, 236, 241, 0.6); */ 

  /* 글자색 */
  --black: #191919; /* rgba(25, 25, 25); */ 
  --darkgray: #767676; /* rgba(118, 118, 118); */ 
  --midgray: #D9D9D9; /* rgba(217, 217, 217); */ 
  --lightgray: #EEEEEE; /*  rgba(238, 238, 238); */ 
  --bluegray: #F1F1F5; /* rgba(241, 241, 241); */ 

  /* 폰트 사이즈 정리 */
  --24px: 1.500rem;
  --22px: 1.375rem;
  --20px: 1.250rem;
  --16px: 1.000rem;
  --14px: 0.875rem;
  --12px: 0.750rem;

  /* font-weight */
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
}

/* 사용예시 */
h2{font-size: var(--16px);}

body{
  width: 100%;
  height: 100vh;
  font-family: 'SUIT';
  letter-spacing: -0.5px;
  color: var(--black);
}

@media screen and (max-width:767px) {
  html{font-size: 16px;}
  body {
    position: relative;
  }
  section {
    padding: 0 20px;
    padding: 0 1.250rem;
    margin-bottom: 60px;
    margin-bottom: 3.750rem;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .header-title {
    color: #191919;
    font-size: 20px;
    font-size: 1.250rem;
    font-style: normal;
    font-weight: var(--semibold);
    line-height: 1.2;
    white-space: pre;
  }
  .more {
    color: #767676;
    font-family: SUIT;
    font-size: 12px;
    font-size: 0.750rem;
    font-style: normal;
    font-weight: var(--regular);
    line-height: 16px; /* 133.333% */
    line-height: 1rem;
    vertical-align: text-bottom;
  }

  /* ---------------------- Header ---------------------- */
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 5;
  }
  .header-logo {
    margin: 20px auto 0;
    margin: 1.250rem auto 0;
    width: 45px;
    width: 2.813rem;
    height: 30px;
    height: 1.875rem;
    transform: scale(1.2);
    filter: invert(1);
  }


  /* ---------------------- Section:visual ---------------------- */
  #main {
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
  }
  .main-swiper {
    width: 100%;
    height: 100%;
  }
  .main-img {
    width: 100%;
    height: 375px;
    object-fit:cover;
  }
  #main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 375px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0)); 
  }
  .main-text {
    position: absolute;
    top: 55%;
    left: 0;
    padding: 0 20px;
    padding: 0 1.250rem;
    color: #fff;
    font-family: SUIT;
  }
  .big-text {
    display: block;
    font-style: normal;
    font-weight: var(--bold);
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.6px;
    margin-bottom: 13px;
  }
  .samll-text {
    display: block;
    font-family: SUIT;
    font-style: normal;
    font-weight: var(--regular);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }
  .main-swiper .swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
  .main-swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #fff;
  }
  .main-swiper .swiper-horizontal>.swiper-pagination-progressbar,.swiper-pagination-progressbar.swiper-pagination-horizontal,.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 90%;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
}

  /* ---------------------- Section:category ---------------------- */
  #category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    margin-bottom: 2.250rem;
  }
  .cate-icon {
    flex:1;
    text-align: center;
    cursor: pointer;
  }
  .cate-icon .icon-box {
    display: inline-block;
    width: 57px;
    height: 57px;
    border-radius: 20px;
    background: rgba(246, 246, 246, 0.94);
    margin-bottom: 5px;
    margin-bottom: 0.313rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cate-icon .icon-box img {
    width: 46px;
    height: 46px;
    object-fit: cover;
  }
  .icon-title {
    display: block;
    text-align: center;
    color: #191919;
    font-family: SUIT;
    font-size: 12px;
    font-size: 0.750rem;
    font-style: normal;
    font-weight: var(--medium);
    line-height: 20px; /* 166.667% */
  }

  /* ---------------------- Section:weather ---------------------- */
  #weather  {
    display: inline-block;
    width: 100%;
    min-height: 250px;
    height: auto;
    overflow: hidden;
  }
  #weather .weather-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding: 1.250rem;
    overflow: hidden;
    background: url(../images/main/pattern.svg),
    linear-gradient(180deg, #D9ECF2 0%, rgba(217, 236, 242, 0.20) 100%);
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 10px;
  }
  .weather-box .weather-txt {
    padding: 14px 0;
    border-top: 2px solid #C1D6DC;
    font-size: 14px;
    font-size: var(--14px);
    color: var(--darkgray);
  }
  .weather-box .weather-txt b {
    font-size: 14px;
    font-size: var(--14px);
    font-weight: var(--semibold);
    color:var(--main-navy);
  }
  .weather-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .weather-2 {
    display: flex;
    justify-content: space-around;
  }
  .weather-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
  }
  .weather-4 {
    font-size: 12px;
    font-size: var(--12px);
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 8px;
    margin-bottom: 10px;
  }
  .weather-5 {
    display: flex;
    font-size: 12px;
    font-size: var(--12px);
    gap: 10px;
  }
  .date, .city {
    font-size: 12px;
    font-size: var(--12px);
    color: var(--darkgray);
  }
  .city .material-icons-outlined {
    font-size: 12px;
    font-size: var(--12px);
    line-height: 12px;
    line-height: var(--12px);
  }
  .CurrIcon {
    width: 35%;
    aspect-ratio: auto;
  }
  .CurrIcon .weather-icon {
    width: 100%;
    height: auto;
  }
  .CurrTemp {
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: var(--bold);
  }
  .weather_description {
    font-size: 20px;
    font-size: var(--20px);
    font-weight: var(--bold);
    vertical-align: text-bottom;
  }
  .weather-5 img {
    width: 14px;
    height: 14px;

  }

  /* ---------------------- Section:fes-event ---------------------- */
  #fes-event {
    overflow: hidden;
  }
  .fes-contents {
    margin-top: 14px;
    margin-top: var(--14px);
    width: 100%;
    height: 250px;
  }
  .fes-swiper {
    width: 100%;
    height: 100%;
    margin-top: 6px;
  }
  .fes-swiper .swiper-slide {
    /* width: 141px;
    height: 200px; */
  }
  .fes-thumb {
    border-radius: 10px;
    width: 141px;
    height: 200px;
    overflow: hidden;
  }
  .fes-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fes-info span {
    display: block;
    margin-left: 5px;
  }
  .fes-type {
    font-size: 10px;
    font-size: 0.625rem;
    color: var(--darkgray);
    margin-top: 6px;
  }
  .fes-name {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: var(--medium);
    margin-top: 2px;
    width: 136px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  

  /* ---------------------- Section:attraction ---------------------- */
  #attraction {
  }
  #attraction .header-title b {color: #1645D3;}
  .att-contents {
    margin-top: 25px;
    margin-top: 1.563rem;
  }
  .att-article {
    width: 100%;
    height: 100px;
    padding: 12px 10px;
    padding: 0.750rem 0.625rem;
    border-bottom: 1px solid var(--lightgray);
    display: flex;
  }
  .att-article:nth-of-type(3) {
    border-bottom: none;
  }
  .att-img {
    flex: 2;
    display: inline-block;        
  }
  .att-img img {
    width: 77px;
    height: 77px;
    border-radius: 100px;
  }
  .att-info {
    flex: 4;
    text-align: left;
    padding-top: 4px;
  }
  .att-name {
    font-size: 14px;
    font-size: var(--14px);
    font-weight: var(--medium);
    color: var(--black);
    margin-bottom: 2px;
  }
  .att-region {
    font-size: 10px;
    font-size: 0.625rem;
    color: var(--darkgray);
    margin-bottom: 5px;
  }
  .tags {flex:1;}
  .tags span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 2px 8px;
    padding: 0.125rem 0.5rem;
    margin-right: 5px;
    border-radius: 100px;
    border: 1px solid var(--darkgray);
    font-size: 10px;
    font-size: 0.625rem;
  }
  .bookmark {
    cursor: pointer;
  }
  .bookmark.active {
    fill: #fff;
  }

  /* ---------------------- Section:recommend ---------------------- */
  #recommend {
    margin-bottom: 80px;
    margin-bottom: 5rem;
  }
  .recommend-contents {
    width: 100%;
    height: auto;
    position: relative;
  }
  .recommend-header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    color: #fff;
  }
  .recommend-header span {
    display: block;
    width: 100%;
  }
  .recommend-header .small-title {
    margin-bottom: 6px;
  }
  .recommend-header .big-title {
    font-size: 22px;
    font-size: var(--22px);
    font-weight: var(--semibold);
    line-height: 1.4;
  }
  .re-swiper {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/0.9;
    overflow: hidden;
    /* height: 100%; */
  }
  .re-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .re-swiper .swiper-pagination {
    bottom: -20px;
  }
  .re-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .re-swiper .swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
  }

  /* ---------------------- Section:tourist-info ---------------------- */
  #tourist-info {
  }
  .tour-contents {
    margin-top: 14px;
    margin-top: 0.875rem;
  }
  .card {
    margin-bottom: 4px;
    margin-bottom: 0.250rem;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid var(--bluegray);
    background: #FFF;
    padding: 8px 12px;
    padding: 0.5rem 0.750rem;
    display: flex;
    flex-direction: column;
  }
  .card .info-title {
    font-size: 16px;
    font-size: 1rem;
    color: var(--black);
    margin-bottom: 6px;
  }

  .card .info-address,
  .card .info-tel {
    margin-top: 3px;
    font-size: 12px;
    font-size: 0.750rem;
    color: var(--darkgray);
  }


  /* ---------------------- Section:notice ---------------------- */
  #notice {
    margin-bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--main-sky);
    display: flex;
  }
  .notice-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--12px);
    align-items: center;
    overflow: hidden;
  }
  .notice-title {
    font-weight: var(--bold);
    text-align: left;
    padding: 0 1px;
    white-space: nowrap;
    flex:1;
  }
  .nSlide-area {
    overflow: hidden;
    height: inherit;
    padding: 0 5px;
    flex:4;
  }
  .no-swiper .swiper-slide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 1px;
    line-height: 40px;
  }
  .notice-btn {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex:1;
  }
  .notice-btn span {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .slidePrev-btn,
  .slideNext-btn {
  }


  /* ---------------------- Footer ---------------------- */
  footer{
    width:100%;
    max-width:767px;
    margin:auto;
    background-color:#132644;
    color:#eee;
    font-family: 'SUIT-Regular';
    font-size:0.625rem;
    text-align:center;
    line-height:1.875rem;
    padding-bottom:4.500rem;
  }
  .foot_contents{padding:3.438rem 4.063rem;}
  .foot_menu,
  .foot_info{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }
  .foot_info em{font-style:normal;}


   /* #################### TabBar #################### */
  .dockbar{
    font-family: 'SUIT-Regular';
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    max-width:797px;
    height:4.500rem;
    background-color:rgba(255,255,255,0.9);
    border-radius:1.250rem 1.250rem 0 0;
    box-sizing:border-box;
    filter: drop-shadow(0px -2px 10px rgba(0, 0, 0, 0.15));
    backdrop-filter: blur(10px);
    z-index: 5;
  }
  .bottom_menu{
    width:inherit;
    height:inherit;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    color:#767676;
  }
  .bottom_menu li a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:0.750rem;
  }
  .bottom_menu li:hover{color:#1645D3;}
  .bottom_menu li img{width:1.500rem;}
}
