@import url(common.css);
@import url(vote.css);


@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-family: 'SUIT-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
  font-family: 'SUIT-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@media screen and (max-width:767px) {
  /* html{font-size:160%;} */

  /* 메뉴 클릭시 */
  .menu_in{
    width:100%;
    max-width:797px;
    height:0;
    font-family: 'SUIT-SemiBold';
    background-color:#132644;
    color:#D9ECF2;
    position:fixed;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
    z-index:0;
  }
  .logo{text-align:center;}
  .logo img{
    /* width:16%; */
    width: 45px;
    width: 2.813rem;
    height: 30px;
    height: 1.875rem;
    transform: scale(1.2);
    margin-top:1.250rem;
    filter:invert(1);
  }
  .close{
    position:absolute;
    top:1.250rem;
    right:1.250rem;
    color:#fff;
    cursor:pointer;
  }
  .material-symbols-outlined{font-size:2.188rem}
  .gnb{
    font-size:1.750rem;
    line-height:4.375rem;
    padding:5.000rem 4.063rem 0;
    box-sizing:border-box;
  }
  .gnb_menu{ 
    height:4.375rem;
    width:100%;
    max-width:calc(797px - 8.126rem);
    display:flex;
    justify-content:space-between;
  } 
  .plus{position:relative; cursor: pointer;}
  .fa-plus, .fa-minus{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:0.5s;
  }
  .fa-minus{opacity:0;}
  .gnb .gnb_in.active .fa-minus{transition:0.5s; opacity:1;}
  .gnb .gnb_in.active .fa-plus{transition:0.5s; opacity:0;}

  .sub{
    font-family: 'SUIT-Regular';
    font-size:1.250rem;
    line-height:2.500rem;
    color:rgba(217, 236, 242, 0.6);
    display:none;
  }
  .gnb .gnb_in.active .sub{display:block;}

  .util{
    position:absolute;
    bottom:3.125rem;
    left:50%;
    transform:translateX(-50%);
    display: none;
  }
  .util li{
    display:inline-block;
    width:2.188rem;
    height:2.188rem;
    text-align:center;
    border-radius:50%;
    background-color:#D9ECF2;
    margin:0 0.313rem;
  }
  .util .fa-brands{
    line-height:2.188rem;
    font-size:1.563rem;
    color:#132644;
    font-family: fontawesome;
  }
}