@import url(common.css);
@import url(sub.css);

:root{
  /* 색상 */
  --main: #132644;
  --blue:#1645d3;
  --red:#ff414d;
  --blue2:#d9ecf2;
  --blue3:#d9ecf2;
  /* 글자 */
  --font1:#191919;
  --font2:#767676;
  --font3:#d9d9d9;
  --font4:#eeeeee;
  --font5:#f1f1f5;
  /* 폰트 사이즈 정리 */
  --24px:1.500rem;
  --22px:1.375rem;
  --20px:1.250rem;
  --16px:1.000rem;
  --14px:0.875rem;
  --12px:0.750rem;
}
/* _______________________________ Mobile (768이하) 기준 */


@media screen and (max-width:767px) {
  .contet_start{
    margin-top: -5%;
    padding: 0rem 1.250rem;
    margin-bottom: 50px;
  }
  .tab_menu{
    display: flex;
    justify-content: flex-start;
  }
  .tab_active{
    color:#fff;
    background-color: var(--blue);
  }
  .tab_menu li{
    border: 1px solid var(--font4);
    padding: 0.230rem 0.750rem;
    border-radius: 0 10px 0 10px;
    cursor: pointer;
    font-size: var(--14px);
    margin-right: 0.44rem;
  }
  .search_box{
    position: relative;
    width: 100%;
    padding: 1.250rem 0;
    border-radius: 0;
  }
  .search_box::before{
    content: '';
    position: absolute;
    right: 2%;
    top: 30%;
    background: url(../images/icons/search.png) no-repeat center center;
    background-size: cover;
    width: 27px;
    height: 27px;
  }
  .search_box input{
    width: 100%;
    height: 35px;
    outline: none;
    border: transparent;
    border-bottom: 1px solid var(--font3);
    background-color: transparent;
    font-size: 0.875em;
    text-indent: 3%;
    border-radius: 0;
  }
  .search_box input::placeholder{color: var(--font2);}
  .search_box input:focus::placeholder{opacity: 0;}
  input::-ms-clear,input::-ms-reveal{display:none;}
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration{display:none;}

  /* 콘텐츠 시작 */

  .contet_start h3{font-size: var(--14px)}
  .contet_start h3 span{color: var(--red);}

  .location {
    vertical-align: middle;
    padding: 10px 20px;
    padding: 0.625rem 1.250rem;
    
  }
  .location svg {
    vertical-align: middle;
  }
  .location span {
    font-size: 12px;
    font-size: var(--12px);
    font-weight: 400;
    color: #767676;
  }
  .pg_loc {
    font-family: 'SUIT';
    letter-spacing: -0.5px;
    font-size: 12px;
    font-size: 0.750rem;
    font-weight: 400;
    color: #767676;
    border: 0 none;
    outline: 0 none;
    border-radius:0;
    background-color: #fff;
  }
  .pg_loc option {
    font-size: 12px;
    font-size: 0.750rem;
    font-weight: 400;
  }

  .align{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .item_box{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 30px;
  }
  .item_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }
  .item_box .imgbox{
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .item_box .imgbox::after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .item_box .imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.88rem;
  }
  .item h6{
    font-size: var(--14px);
    font-weight: 500;
    color: var(--font1);
  }
  .item .reaction{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--darkgray);
    margin-top: 3px;
  }
  .reaction span{
    font-size: var(--12px);
    margin-left: 3px;
  }
  .reaction p{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reaction p i{
    font-size: var(--14px);
  }
  .reaction p:nth-child(1) i{
    font-size: 16px;
    margin-top: -3px;
  }









}
