  /* ---------------------- 투표버튼 ---------------------- */
  .vote {
    width: 30%;
    height: 40px;
    background-color: rgba(255, 56, 77, 0.8);
    /* background-color: rgba(22, 69, 211, 0.8); */
    color: #fff;
    text-align: center;
    position:fixed;
    bottom: 15%;
    right: 10px;
    z-index: 25000; 
    border-radius: 50px;
  }
  .vote a {
    line-height: 40px;
  }